/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "../m3-theme.scss";
@use "./app/components/sidenavs/sidenav/sidenav-component";

@include mat.core();

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include sidenav-component.my-theme(m3-theme.$light-theme);

  --sidenav-width: 300px;
  --sidenav-collapsed-width: 5em;
  --sidenav-transition-duration: 300ms;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }