<div class="sidenav-body-container"
   (mouseover)="sidenavService.expandSidenav()"
   (mouseout)="sidenavService.collapseSidenav()"
>
   <button 
   class="toggle-button"
   (click)="sidenavService.toggle()"
   [class.is-flipped]="sidenavService.isExpanded"
   >
      <mat-icon aria-hidden="false" aria-label="Example home icon" icon>menu</mat-icon>

   </button>
   <div 
      class="sidenav-body"
      [class.slide-in-from-left]="sidenavService.isSlidingInFromLeft"
      [class.slide-in-from-right]="sidenavService.isSlidingInFromRight"
      [class.hide-view]="!sidenavService.isExpanded"
   >
      <ng-template sidenavContentArea></ng-template>
   </div>
   
   
</div>
